@import 'tailwindcss';

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  --color-primary: #0000a3;

  --font-heading: var(--font-merriweather);
  --font-body: var(--font-open-sans);
}

@layer base {
  body {
    @apply bg-background text-foreground font-body;
  }
}

@layer component {
  .content-wrapper {
    @apply mx-auto max-w-7xl px-4 md:px-12;
  }
}
